<div class="back-to-top tools-bar-item hidden">
  <a href="javascript: void(0)">
    <!-- <i class="iconfont icon-chevronup"></i> -->
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-arrow-to-top"></use>
    </svg>
  </a>
</div>

<%- js(['/js/backtotop.js']) %>
